.DS_Store
Thumbs.db
_gitignore/
Vagrantfile
.vagrant/
/.idea

dist/builds/
dist/release/

error.log
access.log

/*.conf
Corsairfile

og_static/

.vscode/

pkg/
swp
swo
.swo
.gitbusy
.swp
src/build-system/gravity/src/github.com/
src/build-system/gravity/src/golang.org/
src/build-system/gravity/src/gopkg.in/
src/github.com/
src/golang.org/
src/gopkg.in/
corsair
corsair-webserver
